{% extends "layout.html"%}
{% block content %}


<div class="container  align-items-center" style="margin-top: 50px;">
    <form action="" method="post">
        {{ form.hidden_tag() }} <!-- this used for security -->
        <section>
            <!-- <legend class="border-bottom mb-4">Create an Account</legend> -->

            <div class="login">
                <h2 data-i18n="resetPass">Reset Password</h2>
                <div class="inputBox">

                    {{ form.password.label(class='form-control-label')}}
                    {% if form.password.errors%}
                    {{ form.password(class='form-control form-control-lg is-invalid')}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class='form-control form-control-lg')}}
                    {% endif %}

                </div>
                <div class="inputBox">

                    {{ form.confirm_password.label(class='form-control-label')}}
                    {% if form.confirm_password.errors%}
                    {{ form.confirm_password(class='form-control form-control-lg is-invalid')}}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password(class='form-control form-control-lg')}}
                    {% endif %}

                </div>
                <div class="inputBox">
                    <input type="submit" value="Sign Up" id="btn" data-i18n="signUp">
                </div>

            </div>
        </section>

    </form>

</div>
{% endblock %}